@font-face {
    font-family: ProximaNova;
    src: url('../css/fonts/ProximaNova-Bold.woff');
}
@font-face {
    font-family: ProximaNova;
    src: url('../css/fonts/ProximaNova-Extrabld.woff');
}
@font-face {
    font-family: ProximaNova;
    src: url('../css/fonts/ProximaNova-Light.woff');
}
@font-face {
    font-family: ProximaNova;
    src: url('../css/fonts//ProximaNova-Regular.woff');
}
@font-face {
    font-family: ProximaNova;
    src: url('../css/fonts/ProximaNova-Semibold.woff');
}

body {
    font-family: ProximaNova;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    padding: 0;
    margin: 0;
}
li{
    list-style-type: none;
}
a{
    color: white;
    text-decoration: none;
}
#container{
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #000000;
    overflow-x: hidden;
    .header{
        width: 100%;
        height: 10vh;
        display: flex;
        justify-content: space-between;
        .left{
            display: flex;
            .logo{
                position: relative;
                top: 50px;
                left: 30px;
                display: inline-block;
                img{
                    width: 200px;              
                  }
            }

            li{
                position: relative;
                top: 70px;
                left: 100px;
                a{
                    font-size: 20px;
                    font-weight: 100;
                    margin-left: 30px;
                    color: gray;
                    text-decoration-color: red;

                }
                &:hover{
                    text-decoration: underline 5px;
                    text-underline-offset: 5px;
                }
                
            }
           
            
        }
        .mobile{
            display: none;
        }
        .right{ 
            position: relative;
            display: flex;
            justify-content: center;
            i{
                position: relative;
                top: 70px;
                right: 40px;
                margin-right: 50px;
                font-size: 20px;
                color: gray;
                &:hover{
                    color: white;
                }
            }
            .lauguge{
                z-index: 100000;
                color: white;
                position:fixed;
                right: 0;
                top: 300px;
                span{
                    padding: 10px;
                    display: flex;
                    align-items: center;
                    background-color: gray;
                    border-bottom: 1px solid white;
                    &:hover{
                        background-color: white;
                        color: black;
                        cursor: pointer;
                    }
                }
            }
            .theme{
                z-index: 100000;
                color: white;
                position:fixed;
                right: 0;
                top: 460px;
                
                .black{
                    padding: 10px;
                    display: flex;
                    align-items: center;
                    background-color: rgb(49, 46, 46);
                    border-bottom: 1px solid white;
                    &:hover{
                        background-color: white;
                        color: black;
                        cursor: pointer;
                    }
                }
                .gray{
                    padding: 10px;
                    display: flex;
                    align-items: center;
                    background-color:gray;
                    border-bottom: 1px solid white;
                    &:hover{
                        background-color: white;
                        color: black;
                        cursor: pointer;
                    }
                }
            }
        }
    }

  
    .footer{
        position: absolute;
        width: 100%;
        height: 10vh;
        bottom: 0;
        background-color: rgb(14, 12, 12);
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        border: none;
        span{
            margin-top: 20px;
            font-size: 20px;
            color: gray;
        }
        p{
            font-size: 16px;

            color: gray;
        }
    }

    .body{
        display: flex;
        flex-direction: column;
        text-align: center;
        color: gray;
        h3{
            position: relative;
            top: 50px;
        }
        p{
            position: relative;
            top: 30px;
        }
        .line{
            margin: 0 auto;
            position: relative;
            top: 40px;
            width: 7vh;
            height: 3px;
            background-color: gray;
        }
        .cart-box{
            padding: 10px;
            margin: 0 auto;
            width: 50vh;
            border: 1px solid gray;
            position: relative;
            top: 60px;
            font-size: 20px;
            display: flex;
            justify-content: space-around;
            .img-product{
                width: 20vh;
                display: inline-block;
                position: relative;
                img{
                    width: 150px;
                }
            }
            .description{
                width: 50vh;
                position: relative;
                left: -45vh;
                h3{
                    width: fit-content;
                    position: relative;
                    top: -20px;
                }
                p{
                    position: relative;
                    top: -30px;
                    left: -8vh;
                    font-size: 15px;
                }
                span{
                    position: relative;
                    top: -30px;
                    left: -50px;
                }
                #input_div{
                    position: relative;
                    top: -10px;
                    left: -70px;
                    #count{
                        width: 2vh;
                        border: 1px solid gray;
                        outline: none;
                    }                
                }
            }
        }
        .last{
            position: relative;
            top: 20px;
            .fa-xmark{
                position: relative;
                top: -20px;
                left: 20px;
                &:hover{
                    color: white;
                    cursor: pointer;
                }
            }
            p{
                position: relative;
                top: 60px;
            }
        }
    }
    .space{
        width: 10px;
        height: 40px;
    }
    .check{
        position: relative;
        top: 90px;
        left: 1vh;
        .plus{
            span{
                margin-left: 20px;
                font-size: 30px;
            }
        }
        .btn{
            position: relative;
            top: 20px;
            button{
                padding: 10px;
                outline: none;
                &:hover{
                    background-color: black;
                    color: white;
                    cursor: pointer;
                }
            }
        }
    }
}
