@font-face {
    font-family: ProximaNova;
    src: url('../css/fonts/ProximaNova-Bold.woff');
}
@font-face {
    font-family: ProximaNova;
    src: url('../css/fonts/ProximaNova-Extrabld.woff');
}
@font-face {
    font-family: ProximaNova;
    src: url('../css/fonts/ProximaNova-Light.woff');
}
@font-face {
    font-family: ProximaNova;
    src: url('../css/fonts//ProximaNova-Regular.woff');
}
@font-face {
    font-family: ProximaNova;
    src: url('../css/fonts/ProximaNova-Semibold.woff');
}


body {
    font-family: ProximaNova;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    padding: 0;
    margin: 0;
}
li{
    list-style-type: none;
}
a{
    color: white;
    text-decoration: none;
}
#container{
    position: relative;
    width: 100%;
    height: 230vh;
    background-color: #000000;
    .header{
        width: 100%;
        height: 10vh;
        display: flex;
        justify-content: space-between;
        .left{
            display: flex;
            .logo{
                position: relative;
                top: 50px;
                left: 30px;
                display: inline-block;
                img{
                    width: 200px;              
                  }
            }

            li{
                position: relative;
                top: 70px;
                left: 100px;
                a{
                    font-size: 20px;
                    font-weight: 100;
                    margin-left: 30px;
                    color: gray;
                    text-decoration-color: red;

                }
                &:hover{
                    text-decoration: underline 5px;
                    text-underline-offset: 5px;
                }
                
            }
           
            
        }
        .mobile{
            display: none;
        }
        .right{ 
            position: relative;
            display: flex;
            justify-content: center;
            i{
                position: relative;
                top: 70px;
                right: 40px;
                margin-right: 50px;
                font-size: 20px;
                color: gray;
                &:hover{
                    color: white;
                }
            }
            .lauguge{
                z-index: 100000;
                color: white;
                position:fixed;
                right: 0;
                top: 300px;
                span{
                    padding: 10px;
                    display: flex;
                    align-items: center;
                    background-color: gray;
                    border-bottom: 1px solid white;
                    &:hover{
                        background-color: white;
                        color: black;
                        cursor: pointer;
                    }
                }
            }
            .theme{
                z-index: 100000;
                color: white;
                position:fixed;
                right: 0;
                top: 460px;
                
                .black{
                    padding: 10px;
                    display: flex;
                    align-items: center;
                    background-color: rgb(49, 46, 46);
                    border-bottom: 1px solid white;
                    &:hover{
                        background-color: white;
                        color: black;
                        cursor: pointer;
                    }
                }
                .gray{
                    padding: 10px;
                    display: flex;
                    align-items: center;
                    background-color:gray;
                    border-bottom: 1px solid white;
                    &:hover{
                        background-color: white;
                        color: black;
                        cursor: pointer;
                    }
                }
            }
        }
    }

  
    .footer{
        position: absolute;
        width: 100%;
        height: 10vh;
        bottom: 0;
        background-color: rgb(14, 12, 12);
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        border: none;
        span{
            margin-top: 20px;
            font-size: 20px;
            color: gray;
        }
        p{
            font-size: 16px;

            color: gray;
        }
    }

    .body{
        position: relative;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        .left{
            height: 100vh;
            position: absolute;
            text-align: end;
            .img-sanpham{
                display: flex;
                flex-direction: column;
                position: relative;
                top: 50px;
                left: 30vh;
                img{
                    width: 500px;
                }
            }
        }
        .right{
            top: 40vh;
            position: fixed;
            text-align: start;
            color: gray;
            left: 120vh;
            h3{
                color: gray;
            }
            .size{
                #size{
                    padding: 8px;
                    width: 30vh;
                    border: 1px solid gray;
                    outline: none;

                }
            }
            .btn-buy{
                button{
                    margin-top: 20px;
                    padding: 10px;
                    width: 30vh;
                    outline: none;
                    &:hover{
                        background-color: gray;
                    }
                }
            }
            .mieuta{
                text-align: start;
                p{
                    color: gray;
                }
                span{
                    text-align: center;
                    margin-left: 100px;
                }
            }
        }   
    }
}
